<launch>

  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="baud" default="115200" />
  <arg name="frame_id" default="gps" />
  <arg name="publish_gnss_pvt" default="true" />
  <arg name="gnss_pvt_topic" default="receiver_pvt" />

  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="r1_serial_driver" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="publish_gnss_pvt" value="$(arg publish_gnss_pvt)" />
    <param name="gnss_pvt_topic" value="$(arg gnss_pvt_topic)" />
  </node>
</launch>
